body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
background-color: #f0f0f0;
font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    width: 300px;
}

.rose{
    width: 100%;
    height: auto;
}

.message{
    font-size: 24px;
    color: #333;
    padding: 20px;
    margin: 0;
}